<h1>Bem vindo ao Raddit</h1>

<%= link_to "New +", new_link_path %>

<h3>Ultimos links adicionados</h3>

<% @links.each do |link| %>
  
  <div class="link-container">
    <% @user = User.find_by_id link.user_id %>

    <% @porcentage = link.get_likes.size * 100 / link.votes_for.size %>

    <div class="votation">
      <%= link_to new_uplike_path(link.id) do |uplike| %>
        <%= image_tag "png/triangle3.png", class: "rotate-180" %>
      <% end %><br>

      <%= "#{link.get_likes.size} - #{@porcentage}%" %> <br>

      <%= link_to new_downlike_path(link.id) do |downlike| %>
        <%= image_tag "png/triangle3.png" %>
      <% end %>
    </div>

    <div class="link-info">
      <%= link_to link.title, link.url, target: "_blank" %> 
      (<%= @user.name %>) -

      <%= link_to "Comentarios (#{link.link_comments.count})", show_link_path(link.id) %>
    </div>
    
  </div>

<% end %>