<h1>Novo link</h1>

<%= form_for @link, url: new_link_path do |link| %>

  <%= label_tag "Titulo" %><br>
  <%= link.text_field :title %><br>

  <%= label_tag "URL" %><br>
  <%= link.text_field :url %><br><br>

  <%= link.submit "Enviar" %>

<% end %>