<h1><%= @link.title %> <small>(<%= @user.name %>)</small> </h1>

<%= link_to @link.url, @link.url, target: "_blank" %><br><br><br>

<h4>Comentarios</h4>

<%= new_comment %><br>

<% @comments.reverse.each do |comment| %>
  <% @by = User.find_by_id(comment.id_user) %>
  <p class="comment"><small><%= @by.name %></small> - <%= comment.comment %></p> 
<% end %>

